// Variables to access directly from scss

// colors
$primary: #512da8;
$primary-dark: #311b92;
$primary-light: #7e57c2;

$secondary: #ffd740;
$secondary-dark: #ffc400;
$secondary-light: #ffe57f;

$error: #d0021b;
$light-green: #5cb85c;
$warn: #f5a623;
